.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

  height: 250px;
  width: 159px;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
